<!DOCTYPE html>
{% extends "Main.html" %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "styles/main.css" %}">
	<style>
        .card {
            margin-top: 20%;
        }

        .card-header, .card-body {
            background-color: #f8f9fa;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
	</style>
</head>
<body>

{% block content %}

	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-sm-4 col-md-4 col-lg-4 mt-3">
				<div class="card">
					<div class="card-header">
						<h4>Reset Password</h4>
					</div>
					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							{% for field in form %}
								<div class="form-group my-2">
									<label for="password">{{ field.label }}</label>
									<input type="password" class="form-control my-2" name="{{ field.name }}"
									       placeholder="Password" id="myInput">
								</div>
							{% endfor %}
							<div class="form-check">
								<input type="checkbox" onclick="showPassword()">
								<label class="form-check-label" for="remember">Show password</label>
							</div>
							<button type="submit" class="btn btn-primary btn-block mt-3" name="send-email">Submit
							</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	        crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static "js.js" %}"></script>

{% endblock %}
</body>
</html>