body {
    background-color: #ebfde5;
}

#orders-pending {

}

#total-orders {

}

#order-delivered {

}

#logo {
    width: 150px;
    height: 40px;

}
#table{
    background-color: #77e098
}
#product-row {
    /*background-color: #9999ec*/
}

#product-row:hover {
    background-color: #f5ea2f;
}

#greet{
    padding-left: 850px;
    font-family: Cinzel, serif;
    font-size: 18px;
}

.navbar a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-right: 30px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: darkblue;
}

/* Current/active navbar link */
.active {
    background-color: black;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}